
body {
    background-image: url(images/skyscraper.png);
}
/* contains name and navbar */
header {
    background-color: white;
    border-bottom: solid #4aaaa5 3px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5px;
}

/* for image cards on portfolio page */
.card-header, .card-text {
    text-align:center;
}

/* for text on images on portfolio page */
.card-img-overlay {
    padding: 0px;
}

/* avtive page in navbar */
.active {
    background-color: grey;
}

/* main content box on all pages */
#about-tim, #contact, #portfolio {
    background-color:#fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: none;
}

/* form on contact page */
.form-group {
    width: 100%;
}

.portfolio {
    padding-left: 15px;
    padding-top: 20px;
}

h3 {
    position:relative;
    top: 110px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
}

/* all nav is in header */
.navbar {
    padding: 0px;
}
.navbar-brand {
    background-color: #4aaaa5;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    background-color: #4aaaa5;
    font-size: larger;
    line-height: 2.5em;
    padding: 10px;
}

.nav-item {
    color: #4aaaa5;
    transition: 2s;
}

.nav-item:hover {
    background-color: white;
}


footer {
    background-color: grey;
    border-top:  solid #4aaaa5 3px;
    margin-top: 0px;
    padding-top: 0px;
}

/* inside footer */
#logo {
    height:40px;
    width: 100px;
}