
body {
    background-image: url(images/skyscraper.png);
}

header {
    background-color: white;
    border-bottom: solid #4aaaa5 3px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.active {
    background-color: grey;
    color: #4aaaa5;
}

#about-tim, #contact, #potfolio {
    background-color:#fff;
    padding-bottom: 10px;
}

#timpic {
    max-width: 200px;
    max-height: 200px;
}

#portfolio {
    background-color: #fff;
    padding-bottom: 10px;
}

.portfolio {
    padding-left: 15px;
    padding-top: 20px;
}

h3 {
    position:relative;
    top: 110px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
}

.navbar-nav {
    background-color: #4aaaa5;
    color:white;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    
}

footer {
    background-color: grey;
    border-top:  solid #4aaaa5 3px;
    margin-top: 0px;
    padding-top: 0px;
}

#logo {
    height:40px;
    width: 100px;
}